.env.example
.git*
**/.git*
Dockerfile*
**/Dockerfile*
README.md
codeception.yml
gulpfile.js
phpunit.xml
**/phpunit.xml
tests
**/tests
node_modules
.npm/**
.npm
npm_cache
.*/**
bootstrap/cache/**
.env
vendor
