:root {
	--vkui--color_background_accent: #fb6c16;
	--vkui--color_background_accent--hover: #F16818;
	--vkui--color_background_accent--active: #E76519;
	--vkui--color_background_accent_themed: #fb6c16;
	--vkui--color_background_accent_themed--hover: #F16818;
	--vkui--color_background_accent_themed--active: #E76519;
	--vkui--color_background_accent_tint: #f38d52;
	--vkui--color_background_accent_tint--hover: #E98851;
	--vkui--color_background_accent_tint--active: #E08350;
	--vkui--color_background_accent_alternative: #fb6c16;
	--vkui--color_background_accent_alternative--hover: #F16818;
	--vkui--color_background_accent_alternative--active: #E76519;
	--vkui--color_background: #EBEDF0;
	--vkui--color_background--hover: #E2E4E9;
	--vkui--color_background--active: #D8DBE2;
	--vkui--color_background_content: #FFFFFF;
	--vkui--color_background_content--hover: #F5F5F7;
	--vkui--color_background_content--active: #EBECEF;
	--vkui--color_background_secondary: #F5F5F5;
	--vkui--color_background_secondary--hover: #EBECEE;
	--vkui--color_background_secondary--active: #E1E3E6;
	--vkui--color_background_secondary_alpha: rgba(0, 0, 0, 0.04);
	--vkui--color_background_secondary_alpha--hover: rgba(0, 0, 0, 0.08);
	--vkui--color_background_secondary_alpha--active: rgba(0, 0, 0, 0.12);
	--vkui--color_background_tertiary: #F9F9F9;
	--vkui--color_background_tertiary--hover: #EFF0F1;
	--vkui--color_background_tertiary--active: #E5E6EA;
	--vkui--color_background_tertiary_alpha: rgba(0, 0, 0, 0.03);
	--vkui--color_background_tertiary_alpha--hover: rgba(0, 0, 0, 0.07);
	--vkui--color_background_tertiary_alpha--active: rgba(0, 0, 0, 0.11);
	--vkui--color_background_contrast: #FFFFFF;
	--vkui--color_background_contrast--hover: #F5F5F7;
	--vkui--color_background_contrast--active: #EBECEF;
	--vkui--color_background_contrast_secondary_alpha: rgba(255, 255, 255, 0.2);
	--vkui--color_background_contrast_secondary_alpha--hover: rgba(255, 255, 255, 0.24);
	--vkui--color_background_contrast_secondary_alpha--active: rgba(255, 255, 255, 0.28);
	--vkui--color_background_contrast_inverse: #2C2D2E;
	--vkui--color_background_contrast_inverse--hover: #2A2C2F;
	--vkui--color_background_contrast_inverse--active: #282B2F;
	--vkui--color_background_modal: #FFFFFF;
	--vkui--color_background_modal--hover: #F5F5F7;
	--vkui--color_background_modal--active: #EBECEF;
	--vkui--color_background_modal_inverse: #2d2d2e;
	--vkui--color_background_modal_inverse--hover: #2B2C2F;
	--vkui--color_background_modal_inverse--active: #292B2F;
	--vkui--color_background_warning: #FFF2D6;
	--vkui--color_background_warning--hover: #F5E9D0;
	--vkui--color_background_warning--active: #EBE0CA;
	--vkui--color_background_positive: #4BB34B;
	--vkui--color_background_positive--hover: #48AC4A;
	--vkui--color_background_positive--active: #45A64A;
	--vkui--color_background_negative: #E64646;
	--vkui--color_background_negative--hover: #DD4446;
	--vkui--color_background_negative--active: #D44245;
	--vkui--color_background_negative_tint: #FAEBEB;
	--vkui--color_background_negative_tint--hover: #F0E2E4;
	--vkui--color_background_negative_tint--active: #E6D9DD;
	--vkui--color_background_positive_tint: #E8f9e8;
	--vkui--color_background_positive_tint--hover: #DFF0E1;
	--vkui--color_background_positive_tint--active: #D5E6DA;
	--vkui--color_field_background: #f2f3f5;
	--vkui--color_field_background--hover: #E8EAEE;
	--vkui--color_field_background--active: #DFE1E6;
	--vkui--color_header_background: #FFFFFF;
	--vkui--color_header_background--hover: #F5F5F7;
	--vkui--color_header_background--active: #EBECEF;
	--vkui--color_text_accent: #fb6c16;
	--vkui--color_text_accent--hover: #F16818;
	--vkui--color_text_accent--active: #E76519;
	--vkui--color_text_accent_themed: #fb6c16;
	--vkui--color_text_accent_themed--hover: #F16818;
	--vkui--color_text_accent_themed--active: #E76519;
	--vkui--color_text_primary: #000000;
	--vkui--color_text_primary--hover: #000102;
	--vkui--color_text_primary--active: #000105;
	--vkui--color_text_primary_invariably: #000000;
	--vkui--color_text_primary_invariably--hover: #000102;
	--vkui--color_text_primary_invariably--active: #000105;
	--vkui--color_text_secondary: #818C99;
	--vkui--color_text_secondary--hover: #7C8795;
	--vkui--color_text_secondary--active: #778292;
	--vkui--color_text_subhead: #6D7885;
	--vkui--color_text_subhead--hover: #697482;
	--vkui--color_text_subhead--active: #64707F;
	--vkui--color_text_tertiary: #99A2AD;
	--vkui--color_text_tertiary--hover: #939CA9;
	--vkui--color_text_tertiary--active: #8D96A4;
	--vkui--color_text_contrast: #FFFFFF;
	--vkui--color_text_contrast--hover: #F5F5F7;
	--vkui--color_text_contrast--active: #EBECEF;
	--vkui--color_text_contrast_themed: #FFFFFF;
	--vkui--color_text_contrast_themed--hover: #F5F5F7;
	--vkui--color_text_contrast_themed--active: #EBECEF;
	--vkui--color_text_positive: #4BB34B;
	--vkui--color_text_positive--hover: #48AC4A;
	--vkui--color_text_positive--active: #45A64A;
	--vkui--color_text_negative: #E64646;
	--vkui--color_text_negative--hover: #DD4446;
	--vkui--color_text_negative--active: #D44245;
	--vkui--color_text_link: #2D81E0;
	--vkui--color_text_link--hover: #2B7CD9;
	--vkui--color_text_link--active: #2978D3;
	--vkui--color_text_link_themed: #2D81E0;
	--vkui--color_text_link_themed--hover: #2B7CD9;
	--vkui--color_text_link_themed--active: #2978D3;
	--vkui--color_text_link_visited: #4986CC;
	--vkui--color_text_link_visited--hover: #4681C6;
	--vkui--color_text_link_visited--active: #437DC1;
	--vkui--color_text_muted: #2C2D2E;
	--vkui--color_text_muted--hover: #2A2C2F;
	--vkui--color_text_muted--active: #282B2F;
	--vkui--color_link_contrast: #FFFFFF;
	--vkui--color_link_contrast--hover: #F5F5F7;
	--vkui--color_link_contrast--active: #EBECEF;
	--vkui--color_icon_accent: #fb6c16;
	--vkui--color_icon_accent--hover: #F16818;
	--vkui--color_icon_accent--active: #E76519;
	--vkui--color_icon_accent_themed: #fb6c16;
	--vkui--color_icon_accent_themed--hover: #F16818;
	--vkui--color_icon_accent_themed--active: #E76519;
	--vkui--color_icon_primary: #2C2D2E;
	--vkui--color_icon_primary--hover: #2A2C2F;
	--vkui--color_icon_primary--active: #282B2F;
	--vkui--color_icon_primary_invariably: #2C2D2E;
	--vkui--color_icon_primary_invariably--hover: #2A2C2F;
	--vkui--color_icon_primary_invariably--active: #282B2F;
	--vkui--color_icon_medium: #818C99;
	--vkui--color_icon_medium--hover: #7C8795;
	--vkui--color_icon_medium--active: #778292;
	--vkui--color_icon_medium_alpha: rgba(0, 0, 0, 0.48);
	--vkui--color_icon_medium_alpha--hover: rgba(0, 0, 0, 0.52);
	--vkui--color_icon_medium_alpha--active: rgba(0, 0, 0, 0.56);
	--vkui--color_icon_secondary: #99A2AD;
	--vkui--color_icon_secondary--hover: #939CA9;
	--vkui--color_icon_secondary--active: #8D96A4;
	--vkui--color_icon_secondary_alpha: rgba(0, 0, 0, 0.36);
	--vkui--color_icon_secondary_alpha--hover: rgba(0, 0, 0, 0.4);
	--vkui--color_icon_secondary_alpha--active: rgba(0, 0, 0, 0.44);
	--vkui--color_icon_tertiary: #B8C1CC;
	--vkui--color_icon_tertiary--hover: #B1BAC6;
	--vkui--color_icon_tertiary--active: #A9B3C1;
	--vkui--color_icon_tertiary_alpha: rgba(0, 0, 0, 0.24);
	--vkui--color_icon_tertiary_alpha--hover: rgba(0, 0, 0, 0.28);
	--vkui--color_icon_tertiary_alpha--active: rgba(0, 0, 0, 0.32);
	--vkui--color_icon_contrast: #FFFFFF;
	--vkui--color_icon_contrast--hover: #F5F5F7;
	--vkui--color_icon_contrast--active: #EBECEF;
	--vkui--color_icon_contrast_themed: #FFFFFF;
	--vkui--color_icon_contrast_themed--hover: #F5F5F7;
	--vkui--color_icon_contrast_themed--active: #EBECEF;
	--vkui--color_icon_contrast_secondary: #F2F3F5;
	--vkui--color_icon_contrast_secondary--hover: #E8EAEE;
	--vkui--color_icon_contrast_secondary--active: #DFE1E6;
	--vkui--color_icon_positive: #4BB34B;
	--vkui--color_icon_positive--hover: #48AC4A;
	--vkui--color_icon_positive--active: #45A64A;
	--vkui--color_icon_negative: #E64646;
	--vkui--color_icon_negative--hover: #DD4446;
	--vkui--color_icon_negative--active: #D44245;
	--vkui--color_stroke_accent: #fb6c16;
	--vkui--color_stroke_accent--hover: #F16818;
	--vkui--color_stroke_accent--active: #E76519;
	--vkui--color_stroke_accent_themed: #fb6c16;
	--vkui--color_stroke_accent_themed--hover: #F16818;
	--vkui--color_stroke_accent_themed--active: #E76519;
	--vkui--color_separator_primary: #D7D8D9;
	--vkui--color_separator_primary--hover: #CED0D3;
	--vkui--color_separator_primary--active: #C6C8CD;
	--vkui--color_separator_primary2x: #cbcccd;
	--vkui--color_separator_primary2x--hover: #C3C4C7;
	--vkui--color_separator_primary2x--active: #BBBDC1;
	--vkui--color_separator_primary3x: #bebfc1;
	--vkui--color_separator_primary3x--hover: #B6B8BC;
	--vkui--color_separator_primary3x--active: #AFB1B6;
	--vkui--color_separator_primary_alpha: rgba(0, 0, 0, 0.12);
	--vkui--color_separator_primary_alpha--hover: rgba(0, 0, 0, 0.16);
	--vkui--color_separator_primary_alpha--active: rgba(0, 0, 0, 0.2);
	--vkui--color_separator_secondary: #E1E3E6;
	--vkui--color_separator_secondary--hover: #D8DBDF;
	--vkui--color_separator_secondary--active: #CFD2D8;
	--vkui--color_stroke_positive: #4BB34B;
	--vkui--color_stroke_positive--hover: #48AC4A;
	--vkui--color_stroke_positive--active: #45A64A;
	--vkui--color_stroke_negative: #E64646;
	--vkui--color_stroke_negative--hover: #DD4446;
	--vkui--color_stroke_negative--active: #D44245;
	--vkui--color_stroke_contrast: #FFFFFF;
	--vkui--color_stroke_contrast--hover: #F5F5F7;
	--vkui--color_stroke_contrast--active: #EBECEF;
	--vkui--color_image_border_alpha: rgba(0, 0, 0, 0.08);
	--vkui--color_image_border_alpha--hover: rgba(0, 0, 0, 0.12);
	--vkui--color_image_border_alpha--active: rgba(0, 0, 0, 0.16);
	--vkui--color_field_border_alpha: rgba(0, 0, 0, 0.12);
	--vkui--color_field_border_alpha--hover: rgba(0, 0, 0, 0.24);
	--vkui--color_field_border_alpha--active: rgba(0, 0, 0, 0.36);
	--vkui--color_accent_blue: #3F8AE0;
	--vkui--color_accent_blue--hover: #3C85D9;
	--vkui--color_accent_blue--active: #3A80D3;
	--vkui--color_accent_gray: #A3ADB8;
	--vkui--color_accent_gray--hover: #9CA7B3;
	--vkui--color_accent_gray--active: #96A0AE;
	--vkui--color_accent_red: #FF3347;
	--vkui--color_accent_red--hover: #F53247;
	--vkui--color_accent_red--active: #EB3046;
	--vkui--color_accent_green: #4BB34B;
	--vkui--color_accent_green--hover: #48AC4A;
	--vkui--color_accent_green--active: #45A64A;
	--vkui--color_accent_orange: #FFA000;
	--vkui--color_accent_orange--hover: #F59A02;
	--vkui--color_accent_orange--active: #EB9405;
	--vkui--color_accent_purple: #735CE6;
	--vkui--color_accent_purple--hover: #6E59DF;
	--vkui--color_accent_purple--active: #6A56D8;
	--vkui--color_accent_violet: #792EC0;
	--vkui--color_accent_violet--hover: #742DBB;
	--vkui--color_accent_violet--active: #6F2CB6;
	--vkui--color_accent_raspberry_pink: #E03FAB;
	--vkui--color_accent_raspberry_pink--hover: #D73DA7;
	--vkui--color_accent_raspberry_pink--active: #CE3BA2;
	--vkui--color_accent_secondary: #3F8AE0;
	--vkui--color_accent_secondary--hover: #3C85D9;
	--vkui--color_accent_secondary--active: #3A80D3;
	--vkui--color_overlay_primary: rgba(0, 0, 0, 0.4);
	--vkui--color_overlay_primary--hover: rgba(0, 0, 0, 0.44);
	--vkui--color_overlay_primary--active: rgba(0, 0, 0, 0.48);
	--vkui--color_avatar_overlay: rgba(0, 0, 0, 0.6);
	--vkui--color_avatar_overlay--hover: rgba(0, 0, 0, 0.64);
	--vkui--color_avatar_overlay--active: rgba(0, 0, 0, 0.68);
	--vkui--color_avatar_overlay_inverse_alpha: rgba(255, 255, 255, 0.85);
	--vkui--color_avatar_overlay_inverse_alpha--hover: rgba(255, 255, 255, 0.89);
	--vkui--color_avatar_overlay_inverse_alpha--active: rgba(255, 255, 255, 0.93);
	--vkui--color_action_sheet_text: #3F8AE0;
	--vkui--color_action_sheet_text--hover: #3C85D9;
	--vkui--color_action_sheet_text--active: #3A80D3;
	--vkui--color_image_placeholder: #F2F3F5;
	--vkui--color_image_placeholder--hover: #E8EAEE;
	--vkui--color_image_placeholder--active: #DFE1E6;
	--vkui--color_image_placeholder_alpha: rgba(0, 28, 61, 0.08);
	--vkui--color_image_placeholder_alpha--hover: rgba(0, 28, 61, 0.12);
	--vkui--color_image_placeholder_alpha--active: rgba(0, 28, 61, 0.16);
	--vkui--color_skeleton_from: #F5F5F5;
	--vkui--color_skeleton_from--hover: #EBECEE;
	--vkui--color_skeleton_from--active: #E1E3E6;
	--vkui--color_skeleton_to: #E1E3E6;
	--vkui--color_skeleton_to--hover: #D8DBDF;
	--vkui--color_skeleton_to--active: #CFD2D8;
	--vkui--color_write_bar_icon: #3F8AE0;
	--vkui--color_write_bar_icon--hover: #3C85D9;
	--vkui--color_write_bar_icon--active: #3A80D3;
	--vkui--color_write_bar_input_background: #F2F3F5;
	--vkui--color_write_bar_input_background--hover: #E8EAEE;
	--vkui--color_write_bar_input_background--active: #DFE1E6;
	--vkui--color_write_bar_input_border: #E1E3E6;
	--vkui--color_write_bar_input_border--hover: #D8DBDF;
	--vkui--color_write_bar_input_border--active: #CFD2D8;
	--vkui--color_write_bar_input_border_alpha: rgba(0, 0, 0, 0.08);
	--vkui--color_write_bar_input_border_alpha--hover: rgba(0, 0, 0, 0.12);
	--vkui--color_write_bar_input_border_alpha--active: rgba(0, 0, 0, 0.16);
	--vkui--color_track_background: #E1E3E6;
	--vkui--color_track_background--hover: #D8DBDF;
	--vkui--color_track_background--active: #CFD2D8;
	--vkui--color_track_buffer: #A0BFE4;
	--vkui--color_track_buffer--hover: #9AB8DD;
	--vkui--color_track_buffer--active: #93B1D7;
	--vkui--color_search_field_background: #EBEDF0;
	--vkui--color_search_field_background--hover: #E2E4E9;
	--vkui--color_search_field_background--active: #D8DBE2;
	--vkui--color_panel_header_icon: #fb6c16;
	--vkui--color_panel_header_icon--hover: #F16818;
	--vkui--color_panel_header_icon--active: #E76519;
	--vkui--color_segmented_control: #FFFFFF;
	--vkui--color_segmented_control--hover: #F5F5F7;
	--vkui--color_segmented_control--active: #EBECEF;
	--vkui--color_transparent: transparent;
	--vkui--color_transparent--hover: rgba(0, 16, 61, 0.04);
	--vkui--color_transparent--active: rgba(0, 16, 61, 0.08);
}