.input-text-editor > div:focus {
    border-color: var(--vkui--color_stroke_accent) !important;
    border-right-width: 1px !important;
    outline: 0;
}

.input-text-editor > div:hover {
    border-color: var(--vkui--color_field_border_alpha--hover);
}

.input-text-editor iframe, .content iframe {
    border: none;
    border-radius: 8px;
}

.input-text-editor > div {
    background-color: var(--vkui--color_field_background);
    padding: 4px 11px;
    border: 1px solid var(--vkui--color_field_border_alpha);
    border-radius: var(--vkui--size_border_radius--regular);
    line-height: 1.5715;
    vertical-align: bottom;
    transition: all 0.3s, height 0s;
}

.input-text-editor p, .content p {
    margin-bottom: 0.5rem;
    min-height: 20px;
}
